<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eco</title>
    <link rel="stylesheet" href="">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/map.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
    <dl class="sub-nav">
      <dd class="active"><a href="#">{{ user }}</a></dd>
    </dl>
    <hr/>
    {% block body %}
    {% endblock %}
</body>
</html>
