{% extends 'base.html' %}

{% block body %}
    <pre>
    Quick news
    AAA declares war on XYZ
    ---</pre>

    <hr/>
    Sektory:
    <ul>
    {% for sector in user.sectors.all %}
        <li>
            <a href="{% url 'sector_show' sector.id %}">{{ sector.id }}</a>
        </li>
    {% endfor %}
    </ul>
    <hr/>
    <canvas id="map" width="500" height="500" style="border:1px solid #000000;">
        Twoja przeglądarka nie obsługuje elementu Canvas.
    </canvas>
    <div id="map">
    {% comment %}
    {% for sector in sectors %}
        <div class="sector">{{ sector.plains }}/{{ sector.hills }}</div>
        <!-- <div class="sector">{{ sector.position_x }}/{{ sector.position_y }}</div> -->
    {% endfor %}
    {% endcomment %}
    </div>
    <script>
        map.create({{ mapdata | safe }});
        map.draw(0, 0);
    </script>
{% endblock %}