{% extends 'base.html' %}

{% block body %}
    <pre>
    Info:
    {{ sector.position_x }} / {{ sector.position_y }} - Owner: {{ sector.owner }}
    </pre>
    <hr/>
    Magazyn:
    <ul>
    {% for resource in sector.warehouse_resources.all %}
        <li>
            {{ resource }}
        </li>
    {% endfor %}
    </ul>
    <hr/>
    Budynki:
    <ul>
    {% for building in sector.sector_buildings.all %}
        <li>{{ building }}</li>
    {% endfor %}
    </ul>
{% endblock %}